.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
}

.image-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  row-gap: 20px;
}
